Source: pve-docs
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: asciidoc-dblatex,
               asciidoc-base (>= 10.2.1-1+deb13u1),
               debhelper-compat (= 13),
               docbook-xsl,
               git,
               graphviz,
               imagemagick-7.q16,
               libjson-perl,
               librsvg2-bin,
               lintian,
               proxmox-widget-toolkit-dev,
               rsync,
               source-highlight,
Standards-Version: 4.6.2

Package: pve-doc-generator
Section: perl
Architecture: all
Depends: asciidoc-base,
         libpve-common-perl,
         source-highlight,
         xmlto,
         ${misc:Depends},
         ${perl:Depends},
Description: Proxmox VE Documentation helpers
 Tool to auto-generate various Proxmox VE Documentation files and
 manual pages. This package is required to build most other Proxmox VE
 packages.

Package: pve-docs
Section: doc
Depends: libjs-extjs, ${misc:Depends}, ${perl:Depends},
Architecture: all
Description: Proxmox VE Documentation
 This package contains the Proxmox VE Documentation files.

Package: pve-docs-mediawiki
Architecture: all
Section: doc
Depends: libhtml-parser-perl,
         libmediawiki-api-perl,
         pve-docs,
         ${misc:Depends},
         ${perl:Depends},
Suggests: apache2,
Description: Proxmox VE Documentation - mediawiki plugin
 This package contains tools to view Proxmox VE Documentation with mediakiki.
